<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
      <h1> Weather Data API </h1>
      <p>URL format : https://127.0.0.1:5000/api/v1/station</p>
      <p>For particular station and date:  https://127.0.0.1:5000/api/v1/station/date</p> <!-- press cmd + d to duplicate the rows -->
      <p>For all dates of particular station: https://127.0.0.1:5000/api/v1/yearly/station/year</p>
      <p>For one station for one year : https://127.0.0.1:5000/api/v1/10/1988-10-25</p>
      <p>{{data|safe}}</p>
<!--  This data| safe is for rendering the data present in main in format of html to the webpage -->

</body>
</html>